* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(54, 56, 77, 1);
}

.container {
  display: flex;
  justify-content: center;
  width: 928px;
  height: 641px;
  border-radius: 36px;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 1);
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  width: 376px;
  height: 446px;
}

.header {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0px;
}
