@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bitcount+Grid+Single:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(54, 56, 77, 1);
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 928px;
  height: 641px;
  border-radius: 36px;
  background-color: rgba(255, 255, 255, 1);
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  width: 376px;
  height: 446px;
}

.box_1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 376px;
  height: 244px;
}

.header {
  font-family: Roboto;
  font-weight: 700;
  font-style: Bold;
  font-size: 25px;
  line-height: 100%;
  letter-spacing: 0px;
}

h1 {
  color: rgba(36, 39, 66, 1);
}

.check_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 376px;
  height: 92px;
  opacity: 1;
}

.check {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  border-radius: 100px;
  background-color: rgba(255, 97, 85, 1);
}

.checks {
  display: flex;
  gap: 10px;
}

p {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
}

.section_3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 376px;
  height: 162px;
}

.email {
  font-family: Roboto;
  font-weight: 700;
  font-style: Bold;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0px;
}

input {
  width: 376px;
  height: 56px;
  opacity: 1;
  border-radius: 8px;
  border-width: 1px;
}

input:hover {
  cursor: pointer;
}

::placeholder {
  padding-left: 24px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 376px;
  height: 56px;
  opacity: 1;
  border-radius: 8px;
  background-color: rgba(36, 39, 66, 1);
}

a {
  text-decoration: none;
  color: white;
  font-family: Roboto;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
  text-align: center;
}

.link:hover {
  cursor: pointer;
  background: linear-gradient(204.47deg, #ff6a3a 0%, #ff527b 100%);
}
